* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}
.navbar-default {
  padding: 10px 0;
  font-weight: 500;
  background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #031C4E;
}
.navbar-brand {
  padding: 7px 15px;
}
.navbar-brand img {
  width: 172px;
}
.navbar-nav {
  margin-left: 80px;
  margin-top: 10px;
  }
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default .navbar-nav> li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color: #006AFF;
}
.my-signup {
  font-weight: 500;
  font-size: 1em;
  color: #63A0FF;
  background-color: transparent;
  border: 1px solid #006AFF;
}
.navbar-default .navbar-nav > li > .my-signup {
    color: #63A0FF;
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar-default .navbar-nav > li >.my-signup:hover {
  color: #fff;
  background-color: #006AFF;
}
#jumbo {
  background-image: url('../img/bg-sea.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  height: auto;
  padding: 70px 0;
}
.page-header {
  color: #fff;
  border: none;
}
.page-header h1 {
  padding: 0;
}
.page-header small{
  display: block;
  color: #90ADFF;
  padding-top: 15px;
}
.create-account {
  background-color: #fff;
  color: #031C4E;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
}
.create-account h2 {
  text-align: center;
}
.create-account > .font-blue{
  margin-top: 0;
}
.font-blue {
  color: #006AFF;
}
.create-account input, .create-account .btn {
  display: block;
  margin-bottom: 5px;
}
.create-account input, .create-account input:focus {
  width: 100%;
  height: 30px;
  outline: 0;
  box-shadow: #626262;
  padding: 0;
  border-radius: 5px;
  color: #000;
}
.create-account .btn-primary {
  background-color:  #579AFF;
  color: #FFF;
  border: 1px solid #579AFF;
}
.create-account .btn-primary:hover {
  background-color:  #fff;
  color: #579AFF;
  border: 1px solid #579AFF;
}
.create-account .btn-default {
  color: #626262;
  font-weight: bold;
  box-shadow: #626262;
  background-color: transparent;
  position: relative;
}
.create-account input::placeholder {
  color: #777;
  padding-left: 4px;
}
.create-account p, .create-account p > a  {
  font-size: 12px;
  text-align: center;
}
.google-logo {
  position: absolute;
  left: 0;
  padding-bottom: 6px;
  height: 25px;
  padding-left: 6px;
}
#trust-banner {
  background-color: #F3F5F9;
  text-align: center;
  color: #9FA8BB;
}
#trust-banner h4 {
  text-transform: uppercase;
}
#trust-banner img{
  margin: 20px 0;
  height: 6em;
  }
 #trust-banner h4, #trust-banner p {
   padding: 20px 0;
 }
 #trust-banner a {
   color: #006AFF;
 }
@media all and (min-width: 768px) and (max-width: 1200px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
  .navbar-collapse.collapse {
    display: none!important;
    height: auto!important;
    padding-bottom: 0;
    overflow-y: auto;
  }
}
@media all and (min-width: 768px) {
  .create-account {
    margin-top: 40px;
  }
  #jumbo {
    background-position: top center;
  }
  .page-header h1 {
    font-size: 2em;
  }
}
@media all and (min-width: 992px) {
  .page-header h1 {
    font-size: 3em;
  }
}
